body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    min-width: 480px;
    margin: 0;
    background-color: #f4f4f4;
}

.container,
.reviews_container {
    width: 60%;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

textarea,
input {
    width: 100%;
    resize: none;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}

button:hover {
    background-color: #0056b3;
}

a {
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
}

.error {
    color: red;
}

.product {
    margin-bottom: 15px;
}

.review {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #e9ecef;
    border-radius: 5px;
    margin-bottom: 10px;
}

h3 {
    margin: 0;
    padding-bottom: 5px;
    color: #007bff;
    cursor: pointer;
}

.delete-btn {
    align-self: flex-end;
    white-space: nowrap;
    background-color: rgb(236, 75, 75);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;

}

.delete-btn:hover {
    background-color: darkred;
}

.hide {
    display: none;
}